/*---BASE---*/
/*-----FONTS-----*/
@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoBlack';
  src: url("../fonts/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'RobotoItalic';
  src: url("../fonts/Roboto-Italic.ttf") format("truetype"); }

/*-----MODULES-----*/
.headerSection {
  width: 100%;
  background-color: white; }

.headerSection .header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(98, 98, 98, 0.8);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  z-index: 9999; }

.headerSection .header .wrapHead {
  padding: 0 112px 0 135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.headerSection .header .wrapHead .wrapLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.headerSection .header .wrapHead .wrapLogo .logo {
  font-family: OpenSansBold;
  font-size: 24px;
  color: #ababab;
  margin-left: 15px; }

.headerSection .header .wrapHead .wrapLogo .stickyLogo {
  color: #fff; }

.headerSection .header .wrapHead .wrapMenu .nav ul li {
  display: inline-block;
  z-index: 2; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .text-slide {
  font-family: OpenSansRegular;
  font-size: 20px;
  margin: 0 23px;
  color: #f2f2f2;
  display: inline-block;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  position: relative; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .text-slide:before {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #222;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .text-slide:after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  bottom: -5px;
  right: 0;
  background-color: #222;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .text-slide:hover:before {
  width: 50%; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .text-slide:hover:after {
  width: 50%; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .stickyLink {
  color: white; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .stickyLink:before {
  background-color: #b2b0d3; }

.headerSection .header .wrapHead .wrapMenu .nav ul li .stickyLink:after {
  background-color: #b2b0d3; }

.headerSection .sticky {
  background-color: #626262; }

@media screen and (max-width: 1200px) {
  .headerSection .header .wrapHead {
    padding: 0 112px 0 135px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  .headerSection .header .wrapHead .wrapMenu {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #626262; }
  .headerSection .header .wrapHead .wrapMenu .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-top: 50px; }
  .headerSection .header .wrapHead .wrapMenu .nav ul li {
    padding: 40px 0; }
  .headerSection .header .wrapHead .wrapMenu .nav ul li .text-slide {
    font-family: OpenSansBold;
    font-size: 20px;
    letter-spacing: .7px;
    margin: 0 23px;
    color: #f2f2f2; } }

@media screen and (max-width: 1170px) {
  .headerSection .header .wrapHead {
    padding: 0 15px 0 30px; }
  .headerSection .header .wrapHead .wrapMenu .nav ul {
    margin-top: 30px; }
  .headerSection .header .wrapHead .wrapMenu .nav ul li {
    padding: 40px 0; } }

@media screen and (max-width: 768px) {
  .headerSection .header .wrapHead {
    padding: 0 15px 0 30px; }
  .headerSection .header .wrapHead .wrapMenu .nav ul li {
    padding: 30px 0; } }

@media screen and (max-width: 400px) {
  .headerSection .header .wrapHead {
    padding: 0 15px 0 30px; }
  .headerSection .header .wrapHead .wrapLogo img {
    width: 78px;
    height: 48px; }
  .headerSection .header .wrapHead .wrapMenu .nav ul li {
    padding: 20px 0; } }

.menu-icon {
  display: none;
  position: absolute;
  top: -10px;
  right: 20px;
  width: 30px;
  cursor: pointer; }

.menu-icon:before, .menu-icon:after,
.menu-icon .menu-icon-line {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #ababab;
  content: '';
  display: block;
  height: 2px;
  margin: 6px 0;
  width: 100%;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.effect1:after {
  -webkit-transform: translateY(-8px) rotate(225deg);
      -ms-transform: translateY(-8px) rotate(225deg);
          transform: translateY(-8px) rotate(225deg); }

.effect1 .menu-icon-line {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0; }

.effect1:before {
  -webkit-transform: translateY(8px) rotate(135deg);
      -ms-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg); }

@media screen and (max-width: 1200px) {
  .menu-icon {
    display: block; } }

@media screen and (max-width: 400px) {
  .menu-icon {
    top: 0;
    right: 20px; } }

.firstSection {
  padding: 80px 15px 80px;
  height: 120vh;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.firstSection .gym {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.firstSection .wrappers {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.firstSection .wrappers .contantFirst {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2; }

.firstSection .wrappers .contantFirst .wrapContant {
  width: 100%;
  max-width: 450px;
  margin-top: 255px; }

.firstSection .wrappers .contantFirst .wrapContant .title {
  font-family: RobotoBold;
  font-size: 36px;
  color: #fff;
  text-shadow: 0 0 1px #000;
  margin-bottom: 25px; }

.firstSection .wrappers .contantFirst .wrapContant .text {
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 45px; }

.firstSection .wrappers .contantFirst .wrapContant .btnItem a {
  display: inline-block;
  padding: 12px 43px;
  font-family: RobotoBold;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e03333;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.firstSection .wrappers .contantFirst .wrapContant .btnItem a:hover {
  color: #f7f7f7;
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 12px rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 768px) {
  .firstSection {
    padding: 80px 15px 80px;
    height: 120vh; }
  .firstSection .gym {
    width: 50%;
    position: absolute;
    top: 60px;
    left: 0; }
  .firstSection .wrappers {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .firstSection .wrappers .contantFirst {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; }
  .firstSection .wrappers .contantFirst .wrapContant {
    width: 100%;
    max-width: 450px;
    margin-top: 0; }
  .firstSection .wrappers .contantFirst .wrapContant .title {
    font-size: 36px;
    margin-bottom: 25px; }
  .firstSection .wrappers .contantFirst .wrapContant .text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px; }
  .firstSection .wrappers .contantFirst .wrapContant .btnItem a {
    display: inline-block;
    padding: 12px 43px;
    font-size: 24px; } }

@media screen and (max-width: 480px) {
  .firstSection {
    padding: 80px 15px 80px;
    height: 120vh; }
  .firstSection .gym {
    width: 50%;
    position: absolute;
    top: 60px;
    left: 0; }
  .firstSection .wrappers {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .firstSection .wrappers .contantFirst {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; }
  .firstSection .wrappers .contantFirst .wrapContant {
    width: 100%;
    max-width: 450px;
    margin-top: 0; }
  .firstSection .wrappers .contantFirst .wrapContant .title {
    font-size: 28px;
    margin-bottom: 25px; }
  .firstSection .wrappers .contantFirst .wrapContant .text {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 45px; }
  .firstSection .wrappers .contantFirst .wrapContant .btnItem a {
    display: inline-block;
    padding: 12px 43px;
    font-size: 24px; } }

.aboutUsSection {
  padding: 240px 15px 125px;
  margin-top: -120px;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.aboutUsSection .about {
  position: absolute;
  top: -60px;
  right: 0; }

.aboutUsSection .wrappers {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.aboutUsSection .wrappers .aboutItems {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -160px;
  margin-bottom: 150px; }

.aboutUsSection .wrappers .aboutItems .item {
  width: 100%;
  max-width: 305px;
  margin-right: 130px;
  z-index: 3; }

.aboutUsSection .wrappers .aboutItems .item:last-child {
  margin-right: 0; }

.aboutUsSection .wrappers .aboutItems .item .wrapItem {
  width: 100%; }

.aboutUsSection .wrappers .aboutItems .item .wrapItem .subTitle {
  font-family: RobotoRegular;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px; }

.aboutUsSection .wrappers .aboutItems .item .wrapItem .text {
  font-family: RobotoRegular;
  font-size: 14px;
  color: #fff;
  line-height: 19px; }

.aboutUsSection .wrappers .offerItem .titleOffer {
  font-family: RobotoRegular;
  font-size: 64px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px; }

.aboutUsSection .wrappers .offerItem .wrapOffer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.aboutUsSection .wrappers .offerItem .wrapOffer .offer {
  width: 100%;
  max-width: 440px; }

.aboutUsSection .wrappers .offerItem .wrapOffer .offer .textOffer {
  font-family: RobotoRegular;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-left: 60px;
  margin-bottom: 23px;
  position: relative; }

.aboutUsSection .wrappers .offerItem .wrapOffer .offer .textOffer:before {
  position: absolute;
  content: url(../img/offer.png);
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

@media screen and (max-width: 1170px) {
  .aboutUsSection {
    padding: 240px 15px 125px;
    margin-top: -120px;
    position: relative; }
  .aboutUsSection .about {
    position: absolute;
    top: -60px;
    right: 0; }
  .aboutUsSection .wrappers {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative; }
  .aboutUsSection .wrappers .aboutItems {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -160px; }
  .aboutUsSection .wrappers .aboutItems .item {
    width: 100%;
    max-width: 370px;
    margin-right: 177px;
    margin-bottom: 30px;
    z-index: 3; }
  .aboutUsSection .wrappers .aboutItems .item:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .aboutUsSection .wrappers .aboutItems .item:nth-child(2) {
    margin-right: 0; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem {
    width: 100%; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem .subTitle {
    font-family: RobotoRegular;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem .text {
    font-family: RobotoRegular;
    font-size: 14px;
    color: #fff;
    line-height: 19px; } }

@media screen and (max-width: 960px) {
  .aboutUsSection {
    padding: 240px 15px 80px;
    margin-top: -120px;
    position: relative; }
  .aboutUsSection .about {
    position: absolute;
    top: -60px;
    right: 0; }
  .aboutUsSection .wrappers {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative; }
  .aboutUsSection .wrappers .aboutItems {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -200px; }
  .aboutUsSection .wrappers .aboutItems .item {
    width: 100%;
    max-width: 370px;
    margin-right: 0;
    margin-bottom: 30px;
    z-index: 3; }
  .aboutUsSection .wrappers .aboutItems .item:last-child {
    margin-bottom: 0; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem {
    width: 100%; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem .subTitle {
    font-size: 24px;
    margin-bottom: 20px; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem .text {
    font-size: 14px;
    line-height: 19px; }
  .aboutUsSection .wrappers .offerItem .titleOffer {
    font-family: RobotoRegular;
    font-size: 64px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px; }
  .aboutUsSection .wrappers .offerItem .wrapOffer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .aboutUsSection .wrappers .offerItem .wrapOffer .offer {
    width: 100%;
    max-width: 600px;
    margin: auto; }
  .aboutUsSection .wrappers .offerItem .wrapOffer .offer .textOffer {
    font-family: RobotoRegular;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-left: 60px;
    margin-bottom: 23px;
    position: relative; }
  .aboutUsSection .wrappers .offerItem .wrapOffer .offer .textOffer:before {
    position: absolute;
    content: url(../img/offer.png);
    top: 50%;
    left: -50px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); } }

@media screen and (max-width: 768px) {
  .aboutUsSection {
    padding: 240px 15px 80px;
    margin-top: -120px;
    position: relative; }
  .aboutUsSection .about {
    position: absolute;
    top: -60px;
    right: 0; }
  .aboutUsSection .wrappers {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative; }
  .aboutUsSection .wrappers .aboutItems {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -200px;
    margin-bottom: 50px; }
  .aboutUsSection .wrappers .aboutItems .item {
    width: 100%;
    max-width: 370px;
    margin-right: 0;
    margin-bottom: 30px;
    z-index: 3; }
  .aboutUsSection .wrappers .aboutItems .item:last-child {
    margin-bottom: 0; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem {
    width: 100%; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem .subTitle {
    font-size: 24px;
    margin-bottom: 20px; }
  .aboutUsSection .wrappers .aboutItems .item .wrapItem .text {
    font-size: 14px;
    line-height: 19px; }
  .aboutUsSection .wrappers .offerItem .titleOffer {
    font-family: RobotoRegular;
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px; }
  .aboutUsSection .wrappers .offerItem .wrapOffer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .aboutUsSection .wrappers .offerItem .wrapOffer .offer {
    width: 100%;
    max-width: 600px;
    margin: auto; }
  .aboutUsSection .wrappers .offerItem .wrapOffer .offer .textOffer {
    font-family: RobotoRegular;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-left: 60px;
    margin-bottom: 23px;
    position: relative; }
  .aboutUsSection .wrappers .offerItem .wrapOffer .offer .textOffer:before {
    position: absolute;
    content: url(../img/offer.png);
    top: 50%;
    left: -50px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); } }

@media screen and (max-width: 480px) {
  .aboutUsSection {
    padding: 240px 15px 40px; } }

.bookSection {
  padding: 60px 0 120px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.bookSection .title {
  font-family: RobotoBold;
  font-size: 64px;
  color: #fff;
  text-align: center; }

.bookSection .wrappers {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.bookSection .wrappers .bookItems {
  width: 100%;
  max-width: 970px;
  margin: 0 auto; }

.bookSection .wrappers .bookItems .sliderBook {
  width: 100%;
  max-width: 970px;
  margin: 70px auto 0;
  position: relative;
  z-index: 5; }

.bookSection .wrappers .bookItems .sliderBook slick-list {
  margin: 0 -15px 0 -15px; }

.bookSection .wrappers .bookItems .sliderBook .slick-slide {
  margin: 20px 15px 20px 15px; }

.bookSection .wrappers .bookItems .sliderBook .wrapSlide {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  min-height: 340px;
  background-position: 0 0;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); }

.bookSection .wrappers .bookItems .sliderBook .wrapSlide .btnItem {
  margin: 0 0 -20px; }

.bookSection .wrappers .bookItems .sliderBook .wrapSlide .btnItem a {
  display: inline-block;
  padding: 12px 36px;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: auto;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #e03333;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.bookSection .wrappers .bookItems .sliderBook .wrapSlide .btnItem a:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 12px rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 768px) {
  .bookSection {
    padding: 40px 0 80px; }
  .bookSection .title {
    font-size: 64px;
    text-align: center; } }

@media screen and (max-width: 480px) {
  .bookSection {
    padding: 40px 0 30px; }
  .bookSection .title {
    font-size: 64px;
    text-align: center; }
  .bookSection .wrappers {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative; }
  .bookSection .wrappers .bookItems {
    width: 100%;
    max-width: 970px;
    margin: 0 auto; }
  .bookSection .wrappers .bookItems .sliderBook {
    width: 100%;
    max-width: 970px;
    margin: 40px auto 0;
    position: relative;
    z-index: 5; }
  .bookSection .wrappers .bookItems .sliderBook .slick-slide {
    margin: 20px 15px 20px 15px; } }

.priceSection {
  padding: 0;
  background-color: #1e272a; }

.priceSection .wrappers {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative; }

.priceSection .wrappers .pricesContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.priceSection .wrappers .pricesContainer .item {
  width: 100%;
  max-width: 480px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2px;
  position: relative;
  z-index: 2; }

.priceSection .wrappers .pricesContainer .item:last-child {
  margin-right: 0; }

.priceSection .wrappers .pricesContainer .item:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.7);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  z-index: -1; }

.priceSection .wrappers .pricesContainer .item:hover:before {
  opacity: 1;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.35);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.35); }

.priceSection .wrappers .pricesContainer .item .topItem .title {
  font-family: RobotoRegular;
  font-size: 64px;
  text-align: left;
  margin: 40px 0 60px 75px;
  color: #fff;
  text-transform: uppercase; }

.priceSection .wrappers .pricesContainer .item .topItem .price {
  font-family: RobotoRegular;
  font-size: 64px;
  color: #fff;
  text-align: center;
  margin: 0 0 25px; }

.priceSection .wrappers .pricesContainer .item .bottomItem {
  text-align: center; }

.priceSection .wrappers .pricesContainer .item .bottomItem .title {
  font-family: RobotoRegular;
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin: 20px 0 0 75px; }

.priceSection .wrappers .pricesContainer .item .bottomItem .text {
  width: 100%;
  max-width: 290px;
  font-family: RobotoRegular;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  margin: 45px auto 20px; }

.priceSection .wrappers .pricesContainer .item .bottomItem .textTrial {
  width: 100%;
  max-width: 240px;
  font-family: RobotoRegular;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  margin: 0 auto 40px; }

.priceSection .wrappers .pricesContainer .item .bottomItem .btnItem {
  margin-bottom: 90px; }

.priceSection .wrappers .pricesContainer .item .bottomItem .btnItem a {
  display: inline-block;
  padding: 12px 61px;
  font-family: RobotoBold;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e03333;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.priceSection .wrappers .pricesContainer .item .bottomItem .btnItem a:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 1200px) {
  .priceSection {
    padding: 0; }
  .priceSection .wrappers {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative; }
  .priceSection .wrappers .pricesContainer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .priceSection .wrappers .pricesContainer .item {
    width: 100%;
    max-width: 480px;
    margin: 15px 15px 15px;
    position: relative;
    z-index: 2; }
  .priceSection .wrappers .pricesContainer .item:last-child {
    margin-right: 15px; }
  .priceSection .wrappers .pricesContainer .item:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.7);
    opacity: 0; }
  .priceSection .wrappers .pricesContainer .item .topItem .title {
    font-size: 64px;
    text-align: left;
    margin: 40px 0 60px 75px; }
  .priceSection .wrappers .pricesContainer .item .topItem .price {
    font-size: 64px;
    text-align: center;
    margin: 0 0 25px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem {
    text-align: center; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .title {
    font-size: 32px;
    text-align: center;
    margin: 20px 0 0 75px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .text {
    width: 100%;
    max-width: 295px;
    font-size: 16px;
    line-height: 20px;
    margin: 45px auto 115px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .btnItem {
    margin-bottom: 90px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .btnItem a {
    display: inline-block;
    padding: 12px 61px;
    font-size: 24px;
    background-color: #e03333; } }

@media screen and (max-width: 480px) {
  .priceSection {
    padding: 0; }
  .priceSection .wrappers {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative; }
  .priceSection .wrappers .pricesContainer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .priceSection .wrappers .pricesContainer .item {
    width: 100%;
    max-width: 480px;
    margin: 15px 15px 15px;
    position: relative;
    z-index: 2; }
  .priceSection .wrappers .pricesContainer .item:last-child {
    margin-right: 15px; }
  .priceSection .wrappers .pricesContainer .item:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.7);
    opacity: 0; }
  .priceSection .wrappers .pricesContainer .item .topItem .title {
    font-size: 58px;
    text-align: center;
    margin: 40px auto 60px; }
  .priceSection .wrappers .pricesContainer .item .topItem .price {
    font-size: 58px;
    text-align: center;
    margin: 0 0 25px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem {
    text-align: center; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .title {
    font-size: 32px;
    text-align: center;
    margin: 20px 0 0 75px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .text {
    width: 100%;
    max-width: 295px;
    font-size: 16px;
    line-height: 20px;
    margin: 45px auto 115px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .btnItem {
    margin-bottom: 90px; }
  .priceSection .wrappers .pricesContainer .item .bottomItem .btnItem a {
    display: inline-block;
    padding: 12px 61px;
    font-size: 24px;
    background-color: #e03333; } }

.commentsSection {
  padding: 80px 15px 70px;
  background-color: #1e272a; }

.commentsSection .wrappers {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: left; }

.commentsSection .wrappers .title {
  display: inline-block;
  font-family: RobotoBold;
  font-size: 64px;
  color: #fff;
  margin-bottom: 80px; }

.commentsSection .wrappers .commentsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.commentsSection .wrappers .commentsContainer .item {
  width: 100%; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  z-index: 5; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider slick-list {
  margin: 0 -15px 0 -15px; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider .slick-slide {
  margin: 10px 15px 10px 15px; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 55px 100px 85px;
  margin-bottom: 105px;
  background-color: #fff;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  position: relative; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide:before {
  position: absolute;
  content: url(../../img/triangle.png);
  bottom: -17px;
  left: 170px; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide .text {
  font-family: RobotoItalic;
  font-size: 14px;
  color: #000;
  text-align: left;
  line-height: 21px; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide .wrapImg {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999; }

.commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide .wrapImg .name {
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 7px; }

/*** * Responsive 600px* */
@media screen and (max-width: 600px) {
  .commentsSection {
    padding: 40px 15px 40px; }
  .commentsSection .wrappers {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: left; }
  .commentsSection .wrappers .title {
    display: inline-block;
    font-size: 64px;
    margin-bottom: 40px; }
  .commentsSection .wrappers .commentsContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .commentsSection .wrappers .commentsContainer .item {
    width: 100%; }
  .commentsSection .wrappers .commentsContainer .item .wrapItem .slider {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    z-index: 5; }
  .commentsSection .wrappers .commentsContainer .item .wrapItem .slider .slick-slide {
    margin: 10px 15px 10px 15px; }
  .commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 20px 50px;
    margin-bottom: 105px; }
  .commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide .text {
    font-size: 14px;
    text-align: left;
    line-height: 21px; }
  .commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide .wrapImg {
    position: absolute;
    bottom: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9999; }
  .commentsSection .wrappers .commentsContainer .item .wrapItem .slider .wrapSlide .wrapImg .name {
    font-size: 16px;
    text-align: center;
    margin-top: 7px; } }

@media screen and (max-width: 480px) {
  .commentsSection {
    padding: 30px 15px; }
  .commentsSection .title {
    font-size: 64px;
    text-align: center; } }

.contactSection {
  padding: 55px 15px 65px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.contactSection .wrappers {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 3; }

.contactSection .wrappers .overlayBox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.contactSection .wrappers .overlayBox .text {
  font-family: RobotoBold;
  font-size: 64px;
  color: #fff;
  margin-bottom: 70px; }

.contactSection .wrappers .contactContainer {
  width: 100%;
  max-width: 680px;
  padding: 20px 0 50px;
  background-color: #465c75;
  -webkit-box-shadow: 0 0 13px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 13px rgba(255, 255, 255, 0.2); }

.contactSection .wrappers .contactContainer .titleForm {
  font-family: RobotoBold;
  font-size: 24px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 40px 50px; }

.contactSection .wrappers .contactContainer .form .rowForm {
  margin: 0 auto;
  width: 100%;
  max-width: 580px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.contactSection .wrappers .contactContainer .form .rowForm .wrapInput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }

.contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput {
  margin-right: 40px; }

.contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput:last-child {
  margin-right: 0; }

.contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .formLabel {
  display: inline-block;
  width: 100%;
  font-family: RobotoRegular;
  font-size: 14px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px; }

.contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .input {
  display: inline-block;
  width: 270px;
  height: 36px;
  font-family: RobotoRegular;
  font-size: 14px;
  color: #222;
  padding-left: 15px;
  border: 1px solid #d9d7d7;
  outline: none;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .input:hover {
  border: 1px solid rgba(0, 0, 0, 0.25); }

.contactSection .wrappers .contactContainer .form .rowForm .formLabel {
  width: 100%;
  font-family: RobotoRegular;
  font-size: 14px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px; }

.contactSection .wrappers .contactContainer .form .rowForm .textarea {
  width: 100%;
  max-width: 580px;
  min-height: 80px;
  padding: 10px 15px;
  text-align: left;
  font-family: RobotoRegular;
  font-size: 14px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #d9d7d7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 30px;
  outline-style: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.contactSection .wrappers .contactContainer .form .rowForm .textarea:hover {
  border: 1px solid rgba(0, 0, 0, 0.25); }

.contactSection .wrappers .contactContainer .form .rowForm .btnSubmit {
  width: 100%;
  max-width: 170px;
  display: block;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  padding: 15px 0;
  text-decoration: none;
  margin: 0 auto;
  background-color: #dc3232;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.contactSection .wrappers .contactContainer .form .rowForm .btnSubmit:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); }

.contactSection .wrappers .contactContainer .form .rowForm input::-webkit-input-placeholder {
  color: #9b9b9b; }

.contactSection .wrappers .contactContainer .form .rowForm input::-ms-input-placeholder {
  color: #9b9b9b; }

.contactSection .wrappers .contactContainer .form .rowForm input:-moz-placeholder {
  color: #9b9b9b; }

.contactSection .wrappers .contactContainer .form .rowForm textarea::-webkit-input-placeholder {
  color: #9b9b9b; }

.contactSection .wrappers .contactContainer .form .rowForm textarea::-ms-input-placeholder {
  color: #9b9b9b; }

.contactSection .wrappers .contactContainer .form .rowForm textarea:-moz-placeholder {
  color: #9b9b9b; }

@media screen and (max-width: 1024px) {
  .contactSection {
    padding: 130px 15px 65px;
    position: relative; }
  .contactSection .wrappers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 3; }
  .contactSection .wrappers .overlayBox {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .contactSection .wrappers .overlayBox .text {
    font-size: 64px;
    margin-bottom: 0px; }
  .contactSection .wrappers .contactContainer {
    width: 100%;
    max-width: 680px;
    padding: 20px 0 50px;
    background-color: #465c75; }
  .contactSection .wrappers .contactContainer .titleForm {
    font-size: 24px;
    text-align: left;
    margin: 0 0 40px 50px; }
  .contactSection .wrappers .contactContainer .form .rowForm {
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput {
    margin-right: 40px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput:last-child {
    margin-right: 0; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .formLabel {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .input {
    display: inline-block;
    width: 270px;
    height: 36px;
    font-size: 14px;
    padding-left: 15px;
    border: 1px solid #d9d7d7;
    outline: none;
    overflow: hidden;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contactSection .wrappers .contactContainer .form .rowForm .formLabel {
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .textarea {
    width: 100%;
    max-width: 580px;
    min-height: 80px;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d9d7d7;
    margin: 0 0 30px; }
  .contactSection .wrappers .contactContainer .form .rowForm .btnSubmit {
    width: 100%;
    max-width: 170px;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #dc3232;
    border: none; } }

@media screen and (max-width: 768px) {
  .contactSection {
    padding: 130px 15px 65px;
    position: relative; }
  .contactSection .wrappers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 3; }
  .contactSection .wrappers .overlayBox {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .contactSection .wrappers .overlayBox .text {
    font-size: 60px;
    margin-bottom: 0px; }
  .contactSection .wrappers .overlayBox img {
    width: 100%;
    max-width: 180px;
    height: 100%; }
  .contactSection .wrappers .contactContainer {
    width: 100%;
    max-width: 680px;
    padding: 20px 0 50px;
    background-color: #465c75; }
  .contactSection .wrappers .contactContainer .titleForm {
    font-size: 24px;
    text-align: left;
    margin: 0 0 40px 50px; }
  .contactSection .wrappers .contactContainer .form .rowForm {
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 580px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput {
    width: 100%;
    margin: 0 15px 15px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput:last-child {
    margin: 0 15px 15px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .formLabel {
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .input {
    display: inline-block;
    width: 100%;
    height: 36px;
    font-size: 14px;
    padding-left: 15px;
    border: 1px solid #d9d7d7;
    outline: none;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contactSection .wrappers .contactContainer .form .rowForm .formLabel {
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .textarea {
    width: 100%;
    max-width: 580px;
    min-height: 80px;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d9d7d7;
    margin: 0 0 30px; }
  .contactSection .wrappers .contactContainer .form .rowForm .btnSubmit {
    width: 100%;
    max-width: 170px;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #dc3232;
    border: none; } }

@media screen and (max-width: 480px) {
  .contactSection {
    padding: 120px 15px 65px;
    position: relative; }
  .contactSection .wrappers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 3; }
  .contactSection .wrappers .overlayBox {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .contactSection .wrappers .overlayBox .text {
    font-size: 60px;
    margin-bottom: 0; }
  .contactSection .wrappers .overlayBox img {
    display: none; }
  .contactSection .wrappers .contactContainer {
    width: 100%;
    max-width: 680px;
    padding: 20px 0 50px;
    background-color: #465c75; }
  .contactSection .wrappers .contactContainer .titleForm {
    font-size: 24px;
    text-align: left;
    margin: 0 0 40px 50px; }
  .contactSection .wrappers .contactContainer .form .rowForm {
    margin: 0 auto;
    width: 100%;
    max-width: 580px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 580px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput {
    width: 100%;
    margin: 0 15px 15px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput:last-child {
    margin: 0 15px 15px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .formLabel {
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .wrapInput .itemInput .input {
    display: inline-block;
    width: 100%;
    height: 36px;
    font-size: 14px;
    padding-left: 15px;
    border: 1px solid #d9d7d7;
    outline: none;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contactSection .wrappers .contactContainer .form .rowForm .formLabel {
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px; }
  .contactSection .wrappers .contactContainer .form .rowForm .textarea {
    width: 100%;
    max-width: 580px;
    min-height: 80px;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d9d7d7;
    margin: 0 0 30px; }
  .contactSection .wrappers .contactContainer .form .rowForm .btnSubmit {
    width: 100%;
    max-width: 170px;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #dc3232;
    border: none; } }

.member {
  padding: 55px 15px 65px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.member .titleMember {
  font-family: RobotoRegular;
  font-size: 36px;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }

.member .wrappers {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3; }

.member .wrappers .memberContainer {
  width: 50%; }

.member .wrappers .memberContainer .plan {
  width: 100%;
  max-width: 370px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-left: 100px; }

.member .wrappers .memberContainer .plan .item {
  padding: 25px 0;
  text-align: center; }

.member .wrappers .memberContainer .plan .item:nth-child(2) {
  background-color: #4a90e2; }

.member .wrappers .memberContainer .plan .item:nth-child(3) {
  border-bottom: 1px solid #d8d8d8; }

.member .wrappers .memberContainer .plan .item .titlePlan {
  font-family: RobotoRegular;
  font-size: 36px;
  color: #000; }

.member .wrappers .memberContainer .plan .item .pricePlan {
  font-family: RobotoBold;
  font-size: 36px;
  color: #fff; }

.member .wrappers .memberContainer .plan .item .pariodPlan {
  font-family: RobotoRegular;
  font-size: 24px;
  line-height: 34px;
  color: #000; }

.member .wrappers .memberContainer .plan .item .workoutPlan {
  font-family: RobotoRegular;
  font-size: 24px;
  color: #000; }

.member .wrappers .memberContainer .form {
  margin: auto; }

.member .wrappers .memberContainer .form .wrapInput {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 10px; }

.member .wrappers .memberContainer .form .wrapInput .itemInput {
  text-align: center;
  margin: auto; }

.member .wrappers .memberContainer .form .wrapInput .itemInput .formLabel {
  display: block;
  width: 100%;
  max-width: 470px;
  font-family: RobotoRegular;
  font-size: 14px;
  color: #666;
  text-align: left;
  margin-bottom: 10px; }

.member .wrappers .memberContainer .form .wrapInput .itemInput .input {
  display: inline-block;
  width: 470px;
  height: 36px;
  font-family: RobotoRegular;
  font-size: 14px;
  color: #666;
  padding-left: 15px;
  border: 1px solid #d9d7d7;
  outline: none;
  overflow: hidden;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.member .wrappers .memberContainer .form .wrapInput .itemInput .input:hover {
  border: 1px solid rgba(0, 0, 0, 0.25); }

.member .wrappers .memberContainer .form .wrapInput .radio-box {
  width: 100%;
  max-width: 470px;
  margin: auto; }

.member .wrappers .memberContainer .form .wrapInput .radio-box label {
  cursor: pointer;
  padding: 0 50px 0 0;
  width: 100%;
  color: #000;
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #212121; }

.member .wrappers .memberContainer .form .wrapInput .radio-box input[type=checkbox] {
  display: none; }

.member .wrappers .memberContainer .form .wrapInput .radio-box input[type=checkbox] + span {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 5px 15px 10px 0; }

.member .wrappers .memberContainer .form .wrapInput .radio-box input[type=checkbox] + span:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #4a90e2;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  width: 18px;
  height: 18px; }

.member .wrappers .memberContainer .form .wrapInput .radio-box input[type=checkbox]:checked + span {
  background-color: #4a90e2;
  color: #FFFFFF;
  border: 3px solid	#fff; }

.member .wrappers .memberContainer .form .btnSubmit {
  width: 100%;
  max-width: 240px;
  display: block;
  font-family: RobotoRegular;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  text-decoration: none;
  margin: 0 auto;
  background-color: #4a90e2;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.member .wrappers .memberContainer .form .btnSubmit:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); }

.member .wrappers .memberContainer .form input::-webkit-input-placeholder {
  color: #9b9b9b; }

.member .wrappers .memberContainer .form input::-ms-input-placeholder {
  color: #9b9b9b; }

.member .wrappers .memberContainer .form input:-moz-placeholder {
  color: #9b9b9b; }

.member .wrappers .memberContainer .form textarea::-webkit-input-placeholder {
  color: #9b9b9b; }

.member .wrappers .memberContainer .form textarea::-ms-input-placeholder {
  color: #9b9b9b; }

.member .wrappers .memberContainer .form textarea:-moz-placeholder {
  color: #9b9b9b; }

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px); }

.overlayFormMember {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 20, 26, 0.7);
  display: none;
  z-index: 1100; }

.overlayFormMember .popup {
  width: 100%;
  max-width: 550px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px 0 15px;
  color: #fff;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center; }

.overlayFormMember .popup .logoContainer {
  display: none; }

.overlayFormMember .popup .btnClosse {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5; }

.overlayFormMember .popup .btnClosse:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 18px;
  background-color: #212121;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg); }

.overlayFormMember .popup .btnClosse:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 18px;
  background-color: #212121;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }

.overlayFormMember .popup .wrappers {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 20px;
  z-index: 3; }

.overlayFormMember .popup .wrappers .paymentContainer {
  width: 100%;
  max-width: 550px;
  margin-bottom: 25px; }

.overlayFormMember .popup .wrappers .paymentContainer .titlePay {
  width: 100%;
  max-width: 350px;
  margin: auto;
  display: inline-block;
  font-family: RobotoBold;
  font-size: 24px;
  color: #212121;
  margin-bottom: 15px; }

.overlayFormMember .popup .wrappers .paymentContainer .plan {
  margin: auto;
  background-color: #f5f5f5;
  padding: 12px 10px 12px 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item {
  padding: 12px 90px 12px 17px;
  border-bottom: 1px solid #d8d8d8; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item:last-child {
  border-bottom: none; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .values {
  width: 50%;
  display: inline-block;
  font-family: RobotoLight;
  font-size: 16px;
  color: #212121;
  text-align: right; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .valuesRegular {
  font-family: RobotoRegular;
  color: #000; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .valuesBold {
  font-family: RobotoBold; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .titlePlan {
  width: 50%;
  display: inline-block;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #000;
  text-align: left; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .pricePlan {
  width: 50%;
  display: inline-block;
  font-family: RobotoLight;
  font-size: 16px;
  color: #212121;
  text-align: left; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .pariodPlan {
  width: 50%;
  display: inline-block;
  font-family: RobotoLight;
  font-size: 16px;
  line-height: 34px;
  color: #212121;
  text-align: left; }

.overlayFormMember .popup .wrappers .paymentContainer .plan .item .workoutPlan {
  width: 50%;
  display: inline-block;
  font-family: RobotoLight;
  font-size: 16px;
  color: #212121;
  text-align: left; }

.overlayFormMember .popup .wrappers .paymentContainer .form {
  background-color: #02a006;
  margin: auto; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput {
  width: 100%;
  max-width: 310px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 10px;
  padding: 20px 0;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 15px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput:first-child {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput:first-child .formLabel {
  width: 70px;
  margin-right: 12px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .select {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  background: #fff;
  color: #555;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-bottom: 1px solid #aaa;
  text-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.25s ease;
  transition: -webkit-box-shadow 0.25s ease;
  -o-transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .select:after {
  position: absolute;
  content: '';
  top: 63%;
  right: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 5px solid transparent;
  border-top: 7px solid #666; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .select select {
  cursor: pointer;
  padding: .25em;
  padding-right: .75em;
  width: 150px;
  height: 40px;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
     text-overflow: '';
  width: 160%\9;
  /* 15 */ }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .select select:focus {
  outline: none;
  /* 16 */ }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .formLabel {
  display: inline-block;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .input {
  display: inline-block;
  width: 230px;
  height: 40px;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #666;
  padding-left: 15px;
  border: 1px solid #d9d7d7;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .input:hover {
  border: 1px solid rgba(0, 0, 0, 0.25); }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .itemInput .imgCard {
  width: 55px;
  height: 35px;
  margin-left: 25px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .wrapBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .wrapBtn .wrapSubmit {
  width: 100%;
  max-width: 195px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .wrapBtn .wrapSubmit .btnSubmit {
  display: block;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 0;
  text-decoration: none;
  background-color: #4a90e2;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .wrapBtn .wrapSubmit .btnSubmit:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .btnSubmit {
  width: 100%;
  max-width: 195px;
  display: block;
  font-family: RobotoRegular;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0;
  text-decoration: none;
  margin: 0 auto;
  background-color: #4a90e2;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .btnSubmit:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .radio-box {
  width: 100%;
  max-width: 470px;
  margin: auto; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .radio-box label {
  cursor: pointer;
  padding: 0 50px 0 0;
  width: 100%;
  color: #000;
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #212121; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .radio-box input[type=checkbox] {
  display: none; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .radio-box input[type=checkbox] + span {
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 5px 15px 10px 0; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .radio-box input[type=checkbox] + span:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid #4a90e2;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  width: 18px;
  height: 18px; }

.overlayFormMember .popup .wrappers .paymentContainer .form .wrapInput .radio-box input[type=checkbox]:checked + span {
  background-color: #4a90e2;
  color: #FFFFFF;
  border: 3px solid	#fff; }

.overlayFormMember .popup .wrappers .paymentContainer .form input::-webkit-input-placeholder {
  color: #9b9b9b; }

.overlayFormMember .popup .wrappers .paymentContainer .form input::-ms-input-placeholder {
  color: #9b9b9b; }

.overlayFormMember .popup .wrappers .paymentContainer .form input:-moz-placeholder {
  color: #9b9b9b; }

.overlayFormMember .popup .wrappers .paymentContainer .form textarea::-webkit-input-placeholder {
  color: #9b9b9b; }

.overlayFormMember .popup .wrappers .paymentContainer .form textarea::-ms-input-placeholder {
  color: #9b9b9b; }

.overlayFormMember .popup .wrappers .paymentContainer .form textarea:-moz-placeholder {
  color: #9b9b9b; }

.overlayFormMember .popup .wrappers .paymentContainer .wrapRemember {
  padding: 15px 10px;
  background-color: #d8d8d8; }

.overlayFormMember .popup .wrappers .paymentContainer .wrapRemember .textRemember {
  font-family: RobotoLight;
  font-size: 14px;
  color: #212121;
  text-align: left; }

.footer {
  background-color: #3e3e3e; }

.footer .wrappers {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.footer .wrappers .wrapTop {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer .wrappers .wrapTop .item {
  width: 20%; }

.footer .wrappers .wrapTop .item:first-child {
  width: 20%;
  margin-left: 0; }

.footer .wrappers .wrapTop .item:nth-child(2) {
  width: 18%; }

.footer .wrappers .wrapTop .item:last-child {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.footer .wrappers .wrapTop .item .wrapLogo .logoFooter {
  margin-bottom: 20px; }

.footer .wrappers .wrapTop .item .wrapLogo .logoFooter .logo {
  font-family: OpenSansBold;
  font-size: 16px;
  color: #fff; }

.footer .wrappers .wrapTop .item .wrapLogo .info {
  display: block;
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px; }

.footer .wrappers .wrapTop .item .wrapLogo .info:last-child {
  margin-bottom: 0; }

.footer .wrappers .wrapTop .item .wrapLogo .info span {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
  margin-left: 5px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }

.footer .wrappers .wrapTop .item .wrapLogo .info span:hover {
  color: #adadad; }

.footer .wrappers .wrapTop .item .wrapLink a {
  display: block;
  font-family: OpenSansRegular;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }

.footer .wrappers .wrapTop .item .wrapLink a:last-child {
  margin-bottom: 0; }

.footer .wrappers .wrapTop .item .wrapLink a:hover {
  color: #666; }

.footer .wrappers .wrapTop .item .wrapLink .title {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px; }

.footer .wrappers .wrapTop .item .wrapLink .text {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 10px; }

.footer .wrappers .wrapTop .item .wrapLink .number {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  text-decoration: none; }

.footer .wrappers .wrapTop .item .wrapLink .number:hover {
  color: #fff; }

.footer .wrappers .wrapTop .item .wrapLink .number span {
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
  margin-left: 5px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s; }

.footer .wrappers .wrapTop .item .wrapLink .number span:hover {
  color: #666; }

.footer .wrappers .wrapTop .item .socialIcon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px); }

@media screen and (max-width: 1200px) {
  .footer .wrappers {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; }
  .footer .wrappers .wrapTop {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .footer .wrappers .wrapTop .item {
    width: 20%;
    margin-left: 70px; }
  .footer .wrappers .wrapTop .item:first-child {
    width: 30%;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:nth-child(2) {
    width: 30%;
    margin-left: 40px; }
  .footer .wrappers .wrapTop .item:nth-child(3) {
    width: 25%;
    margin-left: 50px; }
  .footer .wrappers .wrapTop .item:nth-child(4) {
    width: 55%;
    margin-top: 30px;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:last-child {
    width: 35%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top: 30px; }
  .footer .wrappers .wrapTop .item .wrapLogo .logoFooter {
    margin-bottom: 20px; }
  .footer .wrappers .wrapTop .item .wrapLogo .logoFooter .logo {
    font-size: 16px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info {
    display: block;
    font-size: 16px;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info:last-child {
    margin-bottom: 0; }
  .footer .wrappers .wrapTop .item .wrapLogo .info span {
    font-size: 16px;
    margin-left: 5px; }
  .footer .wrappers .wrapTop .item .wrapLink a {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink a:last-child {
    margin-bottom: 0; }
  .footer .wrappers .wrapTop .item .wrapLink .title {
    font-size: 16px;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink .text {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink .number {
    font-size: 16px;
    line-height: 1.3;
    margin-left: 50px; }
  .footer .wrappers .wrapTop .item .wrapLink .number:first-child {
    margin-left: 0; }
  .footer .wrappers .wrapTop .item .wrapLink .number span {
    font-size: 16px;
    margin-left: 5px; }
  .footer .wrappers .wrapTop .item .socialIcon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media screen and (max-width: 768px) {
  .footer .wrappers .wrapTop {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .footer .wrappers .wrapTop .item {
    width: 100%;
    margin-left: 70px; }
  .footer .wrappers .wrapTop .item:first-child {
    text-align: center;
    width: 100%;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:nth-child(2) {
    text-align: center;
    width: 100%;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:nth-child(3) {
    width: 100%;
    text-align: center;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:nth-child(4) {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:last-child {
    width: 100%;
    margin-top: 10px;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item .wrapLogo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer .wrappers .wrapTop .item .wrapLogo .logoFooter {
    margin-bottom: 20px; }
  .footer .wrappers .wrapTop .item .wrapLogo .logoFooter .logo {
    font-size: 16px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 20px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info:last-child {
    margin-bottom: 15px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info span {
    font-size: 16px;
    margin-left: 5px; }
  .footer .wrappers .wrapTop .item .wrapLink {
    display: inline-block;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink a {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px; }
  .footer .wrappers .wrapTop .item .wrapLink a:last-child {
    margin-bottom: 0; }
  .footer .wrappers .wrapTop .item .wrapLink .title {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink .text {
    display: inline-block;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink .number {
    font-size: 16px;
    line-height: 1.3;
    margin-left: 50px;
    text-align: left; }
  .footer .wrappers .wrapTop .item .wrapLink .number:first-child {
    margin-left: 0; }
  .footer .wrappers .wrapTop .item .wrapLink .number span {
    font-size: 16px;
    margin-left: 5px; }
  .footer .wrappers .wrapTop .item .socialIcon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 480px) {
  .footer .wrappers .wrapTop {
    width: 100%;
    padding: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .footer .wrappers .wrapTop .item {
    width: 100%;
    margin-left: 70px; }
  .footer .wrappers .wrapTop .item:first-child {
    width: 100%;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:nth-child(2) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item:nth-child(3) {
    width: 100%;
    text-align: center;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:nth-child(4) {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item:last-child {
    width: 100%;
    margin-top: 10px;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item .wrapLogo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer .wrappers .wrapTop .item .wrapLogo .logoFooter {
    margin-bottom: 20px; }
  .footer .wrappers .wrapTop .item .wrapLogo .logoFooter .logo {
    font-size: 16px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 0; }
  .footer .wrappers .wrapTop .item .wrapLogo .info:last-child {
    margin-bottom: 15px; }
  .footer .wrappers .wrapTop .item .wrapLogo .info span {
    font-size: 16px;
    margin-left: 5px; }
  .footer .wrappers .wrapTop .item .wrapLink {
    display: block;
    text-align: center; }
  .footer .wrappers .wrapTop .item .wrapLink a {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: center; }
  .footer .wrappers .wrapTop .item .wrapLink a:last-child {
    margin-bottom: 0; }
  .footer .wrappers .wrapTop .item .wrapLink .title {
    display: block;
    font-size: 16px;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink .text {
    display: block;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px; }
  .footer .wrappers .wrapTop .item .wrapLink .number {
    font-size: 16px;
    line-height: 1.3;
    margin-left: 0;
    text-align: center; }
  .footer .wrappers .wrapTop .item .wrapLink .number:first-child {
    margin-left: 0; }
  .footer .wrappers .wrapTop .item .wrapLink .number span {
    font-size: 16px;
    margin-left: 5px; }
  .footer .wrappers .wrapTop .item .socialIcon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
.payment-frame {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vw;
  top: 0px;
}

.btn-close-payment-frame {
  display: none;
  position: fixed;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 10000;
}
.btn-close-payment-frame:hover {
  opacity: 1;
}
.btn-close-payment-frame:before, .btn-close-payment-frame:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.btn-close-payment-frame:before {
  transform: rotate(45deg);
}
.btn-close-payment-frame:after {
  transform: rotate(-45deg);
}
